@model List<Attractions>
@{
    ViewData["Title"] = "Home Page";
}
<h2>Index</h2>
<p>Hello, is it me you looking for?</p>

    <table border="3">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Price</th>
            <th>Longitude</th>
            <th>Lattitude</th>
            <th>Category</th>
            <th>Duration</th>
            <th>Recommended age</th>
        </tr>
        <tbody>
            @foreach (var attraction in Model)
            {
                <tr>
                    <td>@attraction.AttrName </td>
                    <td>@attraction.City </td>
                    <td>@attraction.Price </td>
                    <td>@attraction.Longitude </td>
                    <td>@attraction.Lattitude </td>
                    <td>@attraction.Category </td>
                    <td>@attraction.Duration </td>
                    <td>@attraction.RecommendedAge </td>
                </tr>
            }
        </tbody>
        </table>
    <br />
</table>

