@model List<Attractions>
@{
    ViewData["Title"] = "Home Page";
}

<h2> Hello Áki vagyok gyakorlok </h2>



<table>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Price</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Category</th>
        <th>Duration</th>
        <th> Recommended Age</th>
    </tr>
    <tbody>
        @foreach (var attraction in Model)
         {
            <td>@attraction.AttrName</td>
            <td>@attraction.City</td>
            <td>@attraction.Price</td>
            <td>@attraction.Longitude</td>
            <td>@attraction.Lattitude</td>
            <td>@attraction.Category</td>
            <td>@attraction.Duration</td>
            <td>@attraction.RecommendedAge</td>
         }   
        </tbody>
    </table>
